.table-view-cell.star {
    padding-right: 15px !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.smaller {
    font-size: small;
}

.table-view-cell.train {
    height: 60px;
}