<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/ratchet.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/ratchet-theme-ios.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/app/site.css" />
    {% if page.css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/app/{{ page.css }}" />
    {% endif %}
</head>