@{
    Layout = "~/_Layout.cshtml";
}

@section Title{
    XCity Brum: Station
}

@section NavBar{
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="~/index" data-transition="slide-out"></a>
        <a class="icon icon-refresh pull-right"></a>
        <h1 class="title">X City Brum: <span id="app-station-title" data-bind="text: station.name"></span></h1>
    </header>
}
<div class="card" id="app-station-card">
    <ul class="table-view">
        <li class="table-view-cell table-view-divider">Approaching Trains</li>
        <!-- ko foreach: approachingTrains -->
        <li class="table-view-cell">
            <a class="navigate-right" data-transition="slide-in" data-bind="attr: { href: '/train#!' + serviceId }, text: displayString"></a>
        </li>
        <!-- /ko -->
        <li class="table-view-cell table-view-divider">Recent Trains</li>
        <!-- ko foreach: recentTrains -->
        <li class="table-view-cell">
            <a class="navigate-right" data-transition="slide-in" data-bind="attr: { href: '/train#!' + serviceId }, text: displayString"></a>
        </li>
        <!-- /ko -->
    </ul>
</div>

@section Footer{
    <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
            <span class="icon icon-home"></span>
            <span class="tab-label">Home</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-person"></span>
            <span class="tab-label">Profile</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-star-filled"></span>
            <span class="tab-label">Favorites</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-search"></span>
            <span class="tab-label">Search</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-gear"></span>
            <span class="tab-label">Settings</span>
        </a>
    </nav>
}

@section AdditionalJs{
    <script type="text/javascript">
        var loadedPage = pages.station;
    </script>
}