@{
    Layout = "~/_Layout.cshtml";
}

@section Title{
    XCity Brum: Station
}

@section NavBar{
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="~/index" data-transition="slide-out"></a>
        <a class="icon icon-refresh pull-right"></a>
        <h1 class="title">X City Brum: <span id="app-station-title" data-bind="text: station.name"></span></h1>
    </header>
}
<div class="card" id="app-station-card">
    <ul class="table-view">
        <li class="table-view-cell table-view-divider">Approaching Trains</li>
        <!-- ko foreach: approachingTrains -->
        <li class="table-view-cell train">
            <a class="navigate-right smaller" data-transition="slide-in" data-bind="attr: { href: '/train#!' + serviceId }">
                <span class="media-object pull-right" style="vertical-align: middle;">
                    <span data-bind="text: platform" class="platform"></span>
                </span>
                <div class="media-body">
                    <b><span data-bind="text: expectedDeparture"></span></b>
                    to
                    <b><span data-bind="text: destination"></span></b>
                    <br />
                    <span data-bind="text: due"></span>
                    <span class="badge" data-bind="text: delay, css: delayClass"></span>
                </div>
            </a>
        </li>
        <!-- /ko -->
        <li class="table-view-cell table-view-divider">Recent Trains</li>
        <!-- ko foreach: recentTrains -->
        <li class="table-view-cell">
            <a class="navigate-right smaller" data-transition="slide-in" data-bind="attr: { href: '/train#!' + serviceId }">
                <span class="media-object pull-right" style="vertical-align: middle;">
                    <span data-bind="text: platform"></span>
                </span>
                <div class="media-body">
                    <b><span data-bind="text: expectedDeparture"></span></b>
                    to
                    <b><span data-bind="text: destination"></span></b>
                    <br />
                    <span data-bind="text: due"></span>
                    <span class="badge" data-bind="text: delay, css: delayClass"></span>
                </div>
            </a>
        </li>
        <!-- /ko -->
    </ul>
</div>

@section Footer{
    <nav class="bar bar-tab">
        <a class="tab-item" href="/">
            <span class="icon icon-home"></span>
            <span class="tab-label">Home</span>
        </a>
        <a class="tab-item" href="/favourites">
            <span class="icon icon-star-filled"></span>
            <span class="tab-label">Favourites</span>
        </a>
        <a class="tab-item" href="/settings">
            <span class="icon icon-gear"></span>
            <span class="tab-label">Settings</span>
        </a>
        <a class="tab-item" href="/about">
            <span class="icon icon-info"></span>
            <span class="tab-label">About</span>
        </a>
    </nav>
}

@section AdditionalJs{
    <script type="text/javascript">
        var loadedPage = pages.station;
    </script>
}